@import "tailwindcss";
@config "../tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html.dark {
    color-scheme: dark;
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
